<div class="bg-slate-900 scroll-mt-24 py-16 border-slate-50 border-b-1" id="about">
    <div class="mx-auto max-w-7xl px-6 lg:px-6">
      <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-none">
        <p class="text-base font-semibold leading-7 text-blue-200">Overview</p>
        <h2 class="mt-2 text-3xl font-bold tracking-tight text-gray-100 sm:text-4xl">About the SailFuture Academy<br> Scholarship Endowment</h2>
        <div class="mt-10 grid max-w-xl grid-cols-1 gap-8 text-gray-300 lg:max-w-none lg:grid-cols-2 text-lg leading-7 ">
          <div>
            <p>The SailFuture Academy is a tuition-free private high school for St. Pete’s most at-risk students. 
              <br></br>
              We have secured a $2M matching gift to kickstart the endowment, and if the average gift of everyone reading this email were $25,000, we would reach our goal overnight. If desired, gift commitments can be spread out over three separate yearly payments.
            </p>
          </div>
          <div>
            <p>
              Our curriculum breaks the mold of traditional schooling, and includes paid internships and apprenticeships, an entrepreneurship hub and business thesis experience, round-the-world sailing expeditions, integrated life skills and counseling, and truly multidisciplinary project-based learning.

              <br></br>
              The creation of an endowment ensures the sustainability of a tuition-free, exceptional education for generations to come. It relieves the burden of annual fundraising in such a way that allows our dedicated team to focus their efforts on quality and expansion. 
            </p>
          </div>
        </div>
        
      </div>
    </div>
  </div>