
<section id="impact" class="scroll-mt-24 bg-[url('https://res.cloudinary.com/dbhwzxw0k/image/upload/v1644880957/8G3A5899.jpg')] bg-no-repeat bg-cover bg-center bg-slate-900 bg-blend-multiply py-16 border-1">
    <div class="relative px-6 mx-auto max-w-screen-xl text-white z-1">
        <div class="mb-6 lg:mb-0">


          <div class="lg:mb-0">

            <div class="relative mx-auto max-w-7xl mb-6">
                <div class="mx-auto max-w-2xl lg:mx-0">
                  <h2 class="text-base font-semibold leading-8 text-blue-200">Our Students and Gradutes</h2>
                  <p class="mt-2 text-3xl font-bold tracking-tight text-gray-100 sm:text-4xl">Your Impact on Students at the SailFuture Academy</p>
                  <p class="mt-6 text-lg leading-7 text-gray-300">Scholarships for students open doors to transformative, life-changing opportunities for at-risk youth in St. Petersburg. At SailFuture Academy, students embark on unique journeys that nurture independent thinking and entrepreneurial spirit, shaping them into successful, self-reliant high school graduates. Discover the inspiring stories of current students and graduates whose lives have been forever changed by their experiences at SailFuture Academy.</p>
                </div>
              </div>
        </div> 
<!-- Alex's Stories -->
        <div class="relative bg-gray-900 rounded-3xl mb-8 pb-6 md:py-0">
          <div class="relative pb-6 rounded-3xl overflow-hidden bg-slate-900 md:absolute md:left-0 md:h-full md:w-1/3 lg:w-1/2">
            <iframe src="https://www.youtube.com/embed/YD7YLroHknA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" class="h-56 w-full bg-gray-50 object-cover lg:absolute lg:inset-y-0 lg:left-0 lg:h-full overflow-hidden" allowfullscreen></iframe>
          </div>
          <div class="relative mx-auto max-w-7xl lg:py-32">
            <div class="md:ml-auto md:w-2/3 lg:w-1/2 px-8">
  
              <h3 class="text-2xl  font-bold leading-7 text-white mb-3">
                <a href="https://youtu.be/YD7YLroHknA" target="_blank" class="overflow-hidden">
                  <span class="absolute inset-0"></span>
                  Meet Alex, a 4th Year Student at the SailFuture Academy
                </a>
              </h3>
              <p class="text-lg leading-6 text-gray-300">
                Alexander Delarosa didn’t have the same goals as most high school students. He wasn’t thinking about the SAT, applying to colleges, or eventually attending a university. 
                <br></br>
Instead, Delarosa wanted to work, provide for his two younger sisters, help his parents pay the rent, and maybe even start his own business. 
<br></br>
The traditional school system didn’t have much interest in helping Delarosa reach these goals that didn’t involve higher education — but SailFuture did. 
<br></br>
“[The teachers I had before] weren't focused on what you wanted to do. They weren't focused on what interests you had. But when I came to SailFuture, they’re more personal. They cater to more of the interests you enjoy and what you wanted to do and build the curriculum around you,” Delarosa explained. 
<br></br>
He brings the skills he is learning from working at a restaurant to the SailFuture classroom and says, “now with those classes I'm able to learn more about an LLC, how to keep my own business, how to keep it running and how to make it to where it's something I want to do.”
              </p>

             <!-- Button -->
              <div class="mt-8">
                <a href="https://youtu.be/YD7YLroHknA" target="_blank" class="inline-flex rounded-md bg-white/10 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-white/20 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white">Watch Alex's Story Here</a>
              </div>
            </div>
          </div>
        </div>
        
<!-- Student Stories -->
        <div class="relative mx-auto">
            <div class="mx-auto mt-4">
                <div class="mx-auto grid auto-rows-fr grid-cols-1 md:grid-cols-2 gap-8 lg:max-w-none lg:grid-cols-3">

                    <article class="relative isolate flex flex-col justify-end overflow-hidden rounded-2xl bg-gray-900 pb-8 px-8 pt-40 lg:pt-80">
                      <img src="https://res.cloudinary.com/dbhwzxw0k/image/upload/v1721692515/Frame_3.png" alt="" class="absolute inset-0 -z-10 h-full w-full object-cover">
                      <div class="absolute inset-0 -z-10 bg-gradient-to-t from-gray-900 via-gray-900/70"></div>
                      <div class="absolute inset-0 -z-10 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
              
                      <div class="my-3">
                      <h2>4th Year Student</h2>
                      <h3 class="text-2xl  font-bold leading-7 text-white">
                        <a href="#winter">
                          <span class="absolute inset-0"></span>
                          La'Mya F.
                        </a>
                      </h3>
                    </div>
                      <p class="text-lg leading-6 text-gray-300">
                        LaMya Johnson struggled in the public school system, facing significant challenges and failing her classes. After transferring to SailFuture Academy, she found a supportive community and meaningful mentorship that helped her turn her academics around completely. Now a senior, LaMya is thriving and planning for a bright future as a young entrepreneur.
                      </p>
      
                    </article>


                    
                    <article class="relative isolate flex flex-col justify-end overflow-hidden rounded-2xl bg-gray-900 px-8 pb-8 pt-40 lg:pt-80">
                        <img src="https://res.cloudinary.com/dbhwzxw0k/image/upload/v1721692515/Frame_2.png" alt="" class="absolute inset-0 -z-10 h-full w-full object-cover">
                        <div class="absolute inset-0 -z-10 bg-gradient-to-t from-gray-900 via-gray-900/70"></div>
                        <div class="absolute inset-0 -z-10 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
                
                      <div class="my-3">
                      <h2>2021 Graduate</h2>
                      <h3 class="text-2xl  font-bold leading-7 text-white">
                        <a href="#winter">
                          <span class="absolute inset-0"></span>
                          Bruce M.
                        </a>
                      </h3>
                    </div>
                        <p class="text-lg leading-6 text-gray-300">
                          Bruce, a 2021 SailFuture Academy graduate, was in the foster care system and often walked away from campus, not seeing the value in traditional education. His perspective changed at SailFuture, where he traveled over 15,000 nautical miles, gaining hands-on learning experiences that helped him earn his high school diploma and see the value of his education. This transformative journey led him to enroll in college after graduation.
                        </p>
                     </article>

                      
                    <article class="relative isolate flex flex-col justify-end overflow-hidden rounded-2xl bg-gray-900 px-8 pb-8 pt-40 lg:pt-80">
                        <img src="https://res.cloudinary.com/dbhwzxw0k/image/upload/v1721692515/Frame_4.png" alt="" class="absolute inset-0 -z-10 h-full w-full object-cover">
                        <div class="absolute inset-0 -z-10 bg-gradient-to-t from-gray-900 via-gray-900/70"></div>
                        <div class="absolute inset-0 -z-10 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
                
                        <div class="my-3">
                          <h2>3rd Year Student</h2>
                          <h3 class="text-2xl  font-bold leading-7 text-white">
                            <a href="#winter">
                              <span class="absolute inset-0"></span>
                              Kadin A.
                            </a>
                          </h3>
                        </div>
                        <p class=" text-lg leading-6 text-gray-300">
                          Kadin A., once expelled from two schools for bullying and behavioral issues, found a fresh start at SailFuture Academy. The work-based internships, apprenticeships, and project-based assignments reignited his passion for academics, leading to significant improvements in his professionalism, performance, and behavior. Now, Kadin earns top marks on campus, showcasing his remarkable transformation.
                        </p>
                      </article>
                
              </div>
            </div>


          </div>


    </div>
</section>